body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  border: 1px solid black;
  background-color: blueviolet;
  width: 98%;
  top: 0;
}

#titulo {
  margin-left: 10px;
}

#minha_foto {
  height: 400px;
  margin-top: 80px;
}

#titulo_lista {
  border: 1px solid black;
  width: 230px;
  background-color: darkmagenta;
}

#licoes_aprendidas {
  border: 1px solid black;
  width: 190px;
  background-color: blueviolet;
  font-size: large;
}

#licoes_futuras {
  border: 1px solid black;
  width: 230px;
  background-color: darkmagenta;
}

#licoes_a_aprender {
  border: 1px solid black;
  width: 190px;
  background-color: blueviolet;
  font-size: large;
}

#rodape {
  border: 5px solid blueviolet;
}

#links1 {
  border: 1px solid black;
  width: 150px;
  text-align: center;
}

#links3 {
  border: 1px solid black;
  width: 90px;
  background-color: blueviolet;
  margin-left: 18%;
  margin-bottom: 15%;
}

.links4 {
  color: beige;
}
