body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  border: 1px solid black;
  background-color: blueviolet;
  width: 98%;
  top: 0;
}

#titulo {
  margin-left: 10px;
}

#minha_foto {
  height: 500px;
  margin-top: 80px;
}

#titulo_lista {
  border: 1px solid black;
  width: 19%;
  background-color: darkmagenta;
}

#licoes_aprendidas {
  border: 1px solid black;
  width: 15%;
  background-color: blueviolet;
  font-size: large;
}

#rodape {
  border: 5px solid blueviolet;
}
