body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  border: 1px solid black;
  background-color: blueviolet;
  width: 98%;
  top: 0;
}

#titulo {
  margin-left: 10px;
}
